
*{
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    min-height: 400px;
    background-color: rgb(192, 192, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor2{
    min-height: 400px;
    background-color: rgb(189, 189, 138);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor3{
    min-height: 400px;
    background-color: rgb(177, 177, 147);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.contenedor4{
    min-height: 400px;
    background-color: rgb(190, 190, 162);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.elemento{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
}

.elemento2{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    border-style: solid;
    border-color: azure;
    border-width: 5px;
}